// General Styles ...................... _GS + SM MD LG
// Header .............................. _HD + SM MD LG
// Menu ................................ _MN + SM MD LG
// Footer .............................. _FT + SM MD LG
// Home ................................ _HM + SM MD LG

@media (min-width: 768px) // Tablet

	// Header .............................. _HDSM

	.logo-desktop
		display: block
		float: left

	.logo-mobile
		display: none

	header.home-header
		background: #fff
		padding-top: 10px
		height: auto
		height: 110px
		border-bottom: 3px solid $yellow
		box-shadow: 0 2px 8px rgba(#000, 0.2)

		img
			max-width: none

		.logo-desktop
			height: 100px

		.search-form
			top: 120px
			border: 0
			position: static
			box-shadow: none
			background: transparent
			margin-top: 7px

			.search-box
				background: #fff
				border-bottom: 1px solid #eee
				text-indent: 0px
				font-size: 16px
				height: 60px


			.search
				background-color: #fff
				height: 60px
				background-image: url(assets/images/icon-search-red.png)
				border-bottom: 1px solid #eee
				background-position: 40px center


	// Menu ................................ _MN


	.hide-menu
		header.home-header
			+transform(translate3d(0, -110px, 0))

	.menu-trigger
		top: 29px
		right: 20px

		.bar
			background: #555

	.post-list
		.col1
			width: 70%

		.col2
			width: 30%
			text-align: right

		.author, .data
			width: auto
			float: left
			border: 0
			padding: 0
			margin: 0

		.data
			margin-left: 15px

@media (min-width: 992px)

	header.home-header
		border: 0
		box-shadow: none
		position: static
		height: 140px

		.logo-desktop
			height: auto

		.search-form
			margin-top: 23px

	.facebook-frame
		display: block

		iframe
			margin-top: 20px

	// Menu ................................ _MN

	.menu-trigger
		display: none

	.fader
		display: none

	nav.main-menu
		position: static
		height: 70px
		background: #fff
		width: 100%
		opacity: 1
		+transform(none)
		overflow: visible
		box-shadow: none
		position: relative
		top: 0
		left: 0


		&:before
			content: ''
			display: block
			width: 100%
			height: 12px
			position: absolute
			top: -12px
			left: 0
			background: url(assets/images/menu-shadow.png) no-repeat center center


		ul
			width: 940px
			margin: 0 auto
			overflow: visible
			height: auto

		li
			width: auto
			float: left
			width: 20%
			position: relative

			a
				width: 100%
				text-align: center
				float: left
				border: 0
				padding: 0
				height: 70px
				line-height: 70px
				color: #888
				font-weight: 300
				+transition(background 0.2s)

				&.go-up
					display: none

				&:hover
					background: #fafafa
					border-bottom: 3px solid $yellow

			&:hover
				ul
					opacity: 1
					max-height: 1000px
					width: 450px
					+transform(translate3d(0,0,0))
					+transition(width 0s, max-height 0s, opacity 0.3s, transform 0.3s)


			ul
				position: absolute
				top: 70px
				left: 0
				+transform(none)
				background: $yellow
				opacity: 0
				box-shadow: none
				
				z-index: 5

				max-height: 0
				width: 0
				overflow: hidden
				+transform(translate3d(0, 0px, 0))
				+transition(width 0s 0.6s, max-height 0s 0.6s, opacity 0.2s 0.1s, transform 0.2s 0.1s)

				li
					width: 50%
					font-size: 14px
					text-align: left

					&:nth-child(2n+1)
						a
							background: darken($yellow, 2%)

							&.active, &:hover
								background: #333
								color: #eee

				a
					color: #675124
					font-size: 13px
					height: 40px
					line-height: 40px
					text-align: left
					text-indent: 15px
					+transition(none)

					&.active, &:hover
						background: #333
						color: #eee

			.cardapio-tooltip
				background: #222
				position: absolute
				top: 70px
				left: 450px
				z-index: 4
				width: 0
				height: 0
				opacity: 0
				overflow: hidden
				+transform(translate3d(-100px,0,0))
				+transition(width 0s 0.3s, height 0s 0.3s, opacity 0.1s, transform 0.1s)

				&.active
					width: 300px
					height: 280px
					+transform(translate3d(0,0,0))
					opacity: 1
					+transition(width 0s, height 0s, opacity 0.3s, transform 0.3s)


				.texto
					position: absolute
					bottom: 30px
					padding-right: 30px
					left: 30px

				p.title
					color: $yellow
					font-weight: bold
					font-size: 14px

				p
					font-size: 12px
					color: #fff
					padding-bottom: 0
					margin-bottom: 0

	.owl-home
		margin-top: 0

		.item
			padding-top: 160px
			padding-bottom: 160px

		h1
			font-size: 60px
			line-height: 60px

		p
		font-size: 20px


@media (min-width: 1200px) // Full HD

	nav.main-menu
		ul
			width: 1170px