@import 'bourbon/bourbon'
@import 'keyframes'

// Atua Agência
// Authors:
// CreatedAt:

// Variables ........................... _VR
// General Styles ...................... _GS
// Header .............................. _HD
// Menu ................................ _MN
// Footer .............................. _FT
// Home ................................ _HM

*,*:before,*:after
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box


// Variables ........................... _VR

$yellow: #FBCA01
$brown: darken($yellow, 20%)

// General Styles ...................... _GS

html, body
	margin: 0
	padding: 0
	height: 100%
	background: #eee
	font-family: 'Roboto'


// Header .............................. _HD

.logo-desktop
	display: none

.logo-mobile
	height: 50px
	background: url(assets/images/logo-mobile.png) no-repeat left center #222
	width: 100%
	display: block
	position: absolute
	top: 0
	left: 0
	z-index: 10

header.home-header
	//border-top: $yellow 3px solid
	text-align: left
	padding-top: 70px
	+transition(transform 0.4s)
	width: 100%

	position: fixed
	top: 0
	left: 0
	z-index: 10
	padding-top: 0
	height: 50px
	background: #333

	img
		max-width: 60%

	.search-form
		position: fixed
		top: 50px
		left: 0
		height: 51px
		background: #333
		width: 100%
		border-bottom: 1px solid $yellow
		box-shadow: 0 0 10px rgba(#000, 0.5)

		.search-box
			background: #333
			border: 0
			height: 50px
			text-indent: 10px
			font-size: 14px
			float: left
			width: 80%
			outline: none

			&:active, &:focus
				color: $yellow

				+placeholder
					color: $yellow

			+placeholder
				color: #888

		.search
			background: url(assets/images/icon-search-yellow.png) center center no-repeat #333
			border: 0
			float: right
			width: 20%
			height: 50px


.facebook-frame
	display: none

.divider
	width: 100%
	height: 40px

// Menu ................................ _MN

.menu-active
	nav.main-menu
		width: 70%
		height: 100%
		opacity: 1
		+transition(transform 0.3s, opacity 0.3s, height 0s, width 0s)
		+transform(translate3d(0, 0, 0))

	.fader
		width: 100%
		height: 100%
		opacity: 1
		+transition(opacity 0.3s, height 0s, width 0s)

	.menu-trigger
		.bar
			background: #fff

.menu-trigger
	position: fixed
	width: 50px
	height: 50px
	right: 0px
	top: 0px
	z-index: 40

	.bar
		width: 30px
		height: 2px
		margin-bottom: 7px
		background: #fff
		margin-left: 0px
		+transition(background 0.3s)

		&:first-child
			margin-top: 15px

.fader
	background: rgba(#222, 0.8)
	content: ''
	display: block
	position: fixed
	top: 0
	left: 0
	z-index: 10
	opacity: 0
	height: 0
	width: 0
	+transition(opacity 0.3s, height 0s 0.3s, width 0s 0.3s)

nav.main-menu
	width: 100%
	position: fixed
	top: 0
	left: 0
	background: $yellow
	height: 100%
	+transform(translate3d(-105%, 0, 0))
	width: 0
	height: 0
	overflow: hidden
	opacity: 1
	+transition(transform 0.3s, opacity 0.3s, height 0s 0.3s, width 0s 0.3s)
	z-index: 20
	box-shadow: 0 0 8px rgba(#000, 0.3)

	ul
		height: 100%
		overflow: scroll
		color: $brown

	ul, li
		margin: 0
		padding: 0
		list-style: none

	li
		font-size: 11px
		font-size: 18px
		width: 100%

		a
			padding: 16px
			width: 100%
			color: $brown
			text-decoration: none
			display: block
			border-bottom: 1px solid darken($yellow, 5%)
			+transition(background 0.2s, color 0.2s)

			&.selected
				color: #fff
				background: #333

			&.go-up
				background: darken($yellow, 20%)
				color: #fff
			
		ul
			position: absolute
			top: 0
			left: 0
			background: #FED556
			box-shadow: 0 0 8px rgba(#000, 0.3)
			width: 90%
			opacity: 0
			color: $brown
			+transform(translate3d(-100%, 0, 0))
			+transition(opacity 0.3s, transform 0.3s)

			&.active
				opacity: 1
				+transform(translate3d(0, 0, 0))

.hide-menu
	header.home-header
		+transform(translate3d(0, -50px, 0))

// Banner Home

.owl-home
	background: #222
	text-align: center
	margin-top: 100px
	position: relative
	margin-bottom: 20px

	.item
		padding-bottom: 80px
		background-position: center center
		background-size: cover
		background-repeat: no-repeat
		position: relative

		&:before
			content: ''
			display: block
			width: 100%
			height: 100%
			background: #222
			opacity: 0.8
			top: 0
			left: 0
			position: absolute
			z-index: 1

		.container
			position: relative
			z-index: 2

	h1
		font-size: 40px
		line-height: 40px
		color: #fff
		text-shadow: 0 2px 2px rgba(#000, 0.2)
		font-weight: bold
		font-family: 'Roboto'
		padding: 0
		margin: 0
		padding-top: 40px

	p
		font-size: 16px
		color: #fff
		text-shadow: 0 2px 2px rgba(#000, 0.2)
		font-weight: normal
		padding: 0
		margin: 0
		margin-top: 20px
		margin-bottom: 30px

	.owl-nav
		display: none

	.owl-dots
		position: absolute
		bottom: 30px
		left: 0
		top: auto

.button
	border-radius: 5px
	box-shadow: 0 2px 2px rgba(#000, 0.2)
	font-size: 16px
	padding: 15px
	text-decoration: none
	display: inline-block

	&.button-tiny
		padding: 10px 12px
		font-size: 14px


	&.button-yellow
		background: $yellow
		color: #fff

.owl-dots
	position: relative
	z-index: 10
	top: -30px
	width: 100%
	text-align: center

.owl-dot
	background: #fff
	width: 12px
	height: 12px
	border-radius: 50%
	+transition(background 0.2s, box-shadow 0.2s)
	display: inline-block
	margin-left: 10px

	&:first-child
		margin-left: 0

	&.active
		background: rgba(#fff,0.0)
		box-shadow: 0 0 0 3px $yellow

.post-list
	width: 100%

	.post
		position: relative
		background: #fff
		box-shadow: 0 2px 3px rgba(#000, 0.2)
		margin-bottom: 20px

	.category
		position: absolute
		top: 0
		left: 0
		background: $yellow
		color: #fff
		font-size: 14px
		padding: 15px

	.showcase-image
		width: 100%

		img
			width: 100%
			height: auto

	.pastelometro
		width: 100%
		font-size: 10px
		color: #888

		p
			color: #888

	.pad
		padding: 30px

	h1
		font-size: 26px
		color: #777777
		font-weight: bold
		margin-top: 0
		padding-top: 0

	p
		font-size: 14px
		color: #222
		line-height: 22px

	.post-data
		background: #222
		color: #fff
		font-size: 13px
		padding: 10px 30px
		text-align: center

	.col1
		width: 100%
		float: left

	.col2
		width: 100%
		float: right

	.author, .data
		width: 100%
		border-bottom: 1px solid #333
		padding-bottom: 10px

	.data
		padding-top: 10px
		margin-bottom: 10px

	a
		color: $yellow
		text-decoration: none

		&:hover
			text-decoration: underline


// View Post

.view-post
	.pastelometro
		padding-top: 10px
		border-top: 1px solid #ddd

// Comments

.comments-area
	h2
		font-size: 20px

	.comment-list
		position: relative
		background: #fff
		box-shadow: 0 2px 3px rgba(#000, 0.2)
		margin-bottom: 20px
		padding-left: 0
		margin-left: 0
		padding: 30px

	ul, li
		margin: 0
		padding: 0
		list-style: none

	.avatar
		border-radius: 50%
		vertical-align: middle
		margin-right: 15px

	.comment-metadata
		font-size: 12px
		margin-top: 10px
		color: #888

		& > a
			color: #888

		.edit-link
			margin-left: 10px
			text-decoration: underline
			font-weight: bold

// Widget Area

.widget-bar
	.pad
		padding: 20px

	.item
		position: relative
		background: #fff
		box-shadow: 0 2px 3px rgba(#000, 0.2)
		margin-bottom: 20px

	img
		width: 100%

	iframe
		display: block

	h1
		color: #bd3902
		font-size: 22px
		padding: 0
		margin: 0

		img
			vertical-align: bottom
			margin-right: 15px
			width: auto


// Footer .............................. _FT

footer

// Home ................................ _HM

@import 'media'